.logos{ 
    height: 60px; 
    width: 60px; 
    border-right: 50px; 
}
.logoDubna{ 
    height: 200px; 
    width: 200px; 
    border-right: 10px; 
}

.phone2{
    color:blueviolet;
}

body {
    margin: 0;
    }

.navigation {
    background-color: rgb(255, 230, 0);
    text-align: center; /* Выравнивание по центру */
}

.intro {
    text-align: left;
    height: 100px;
}

#block1 {
    background-image: url(https://s9.travelask.ru/uploads/post/000/026/422/main_image/facebook-df7d374956da1c62ca854d9dd4d5b221.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#block2 {
background-color: yellowgreen;
height: 500px;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
}

.imggrass {
    width: 200px;
    height: auto;    
    margin-left: 200px;
}

.text {
    margin-right: 20px;
    text-align: center;
}


p {
    font-size: 16 px;
}


#block3 {
    background-color: sienna;
    height: 500px;
}

#block4 {
    background-color: dimgray;
    height: 500px;
}

.navigation a {
    display: inline-block;
    margin: 5px; /* Отступы между кнопками */
    padding: 10px 20px; /* Паддинг кнопок (вертикальный и горизонтальный) */
    background-color: #ffae00; /* Цвет фона кнопок */
    color: #fff; /* Цвет текста кнопок */
    text-decoration: none; /* Убираем подчеркивание текста ссылок */
    border: 1px solid #ff9100; /* Граница вокруг кнопок */
    border-radius: 5px; /* Скругленные углы границы */
    transition: background-color 0.3s, color 0.3s; /* Плавные переходы при наведении */
}

.navigation a:hover {
    background-color: #48ff00; /* Цвет фона кнопок при наведении */
    color: #fff; /* Цвет текста кнопок при наведении */
}
h1 {
text-align: center;
color: orange;
font-size: 80px;
font-style: italic;
font-family: sans-serif;
}

h2 {
    text-align: center;
    color: green;
    font-size: 50px;
    font-style: italic;
    font-family: sans-serif; 
}